@charset "UTF-8";
.result_page_item, .result_item, .icon_btn {
  transition: all 0.3s ease-in-out;
}

.result_page_item, .result_sel_item, .result_sel .selTxt, .icon_btn {
  cursor: pointer;
}

.msgr::after {
  content: attr(data-msgr);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.msgl::before {
  content: attr(data-msgl);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

h2 {
  color: #545454;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 32.32px */
  text-transform: uppercase;
}

.icon {
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon._fending {
  background-image: url("../images/icon_funding.svg");
}
.icon._case {
  background-image: url("../images/icon_case.svg");
}
.icon._patent {
  background-image: url("../images/icon_patent.svg");
}
.icon._enterprise {
  background-image: url("../images/icon_enterprise.svg");
}
.icon._share {
  background-image: url("../images/icon_share.svg");
}

.icon_btn {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon_btn._home {
  background-image: url("../images/icon_home_normal.svg");
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .icon_btn._home:hover {
    background-image: url("../images/icon_home_hover.svg");
  }
}
.icon_btn._home:active {
  background-image: url("../images/icon_home_hover.svg");
}
.icon_btn._search {
  background-image: url("../images/icon_search.svg");
}
.icon_btn._close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  background-image: url("../images/icon_close.svg");
}

.searchBar {
  z-index: 9;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  height: 60px;
  margin: 67px auto 0;
  border-radius: 148px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(28, 68, 46, 0.5);
}
.result .searchBar {
  margin-top: 0;
  transform: translateY(-50%);
}
.searchBar.fixed {
  position: fixed;
  top: 10px;
  left: 0;
  right: -136px;
  margin: auto;
  transform: translateY(0%);
}
.searchBar_inp {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.searchBar .icon_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}

.wrap {
  min-width: 1440px;
  padding-top: 84px;
}

.head {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 1440px;
  height: 84px;
  padding: 0 20px;
  background-color: #285F40;
}
.head a {
  position: relative;
  text-decoration: none !important;
}
.head .logo {
  display: flex;
  justify-content: none;
  align-items: center;
}
.head .logo img {
  width: 300px;
  margin-right: 60px;
}
.head .logo::after {
  position: absolute;
  left: 100%;
  pointer-events: none;
  white-space: nowrap;
}
.head .logo.hide::after {
  display: none;
}

.banner {
  overflow: hidden;
  position: relative;
}
.result .banner {
  height: 108px;
}
.banner_txt {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 76px;
}
.banner h1 {
  max-width: 700px;
  color: #FFF;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  text-transform: uppercase;
}
.banner p {
  margin-top: 16px;
  color: #545454;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  text-transform: uppercase;
}

.ten {
  position: absolute;
  top: 502px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  min-width: 1430px;
  height: 521px;
  margin: auto;
  padding: 0 70px;
}
.ten_bg {
  width: 100%;
  height: 310px;
}
@media screen and (max-width: 1900px) {
  .ten_bg {
    height: 400px;
  }
}
@media screen and (max-width: 1800px) {
  .ten_bg {
    height: 521px;
  }
}
.ten_left {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 50px;
}
.ten_right {
  max-width: 420px;
}
.ten_title {
  position: absolute;
  top: 329px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 110px;
  margin-top: 43px;
  padding-right: 84px;
  border-radius: 0px 0px 50px 0px;
  background: #9BDA67;
  color: #545454;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  text-transform: uppercase;
}

.card {
  display: inline-block;
  width: 100%;
  min-height: 286px;
  padding: 29px;
  border-radius: 20px;
  box-shadow: 15px 44px 50px 0px rgba(28, 71, 47, 0.15);
  background-color: #fff;
}
.card._green {
  background-color: #018B7E;
}
.card._case {
  margin-left: 50px;
}
.card._patent {
  display: flex;
  min-height: 153px;
}
.card._patent .card_group {
  margin-left: 31px;
}
.card._patent .card_txt {
  margin-top: 0;
}
.card._patent .card_num {
  margin-top: 18px;
}
.card._fending {
  width: 435px;
}
.card._case {
  width: 330px;
}
.card._enterprise {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 300px;
  margin-top: 30px;
}
.card._enterprise .card_group {
  margin-left: 31px;
}
.card._enterprise .card_txt {
  margin-top: 0;
}
.card._enterprise .card_num {
  margin-top: 18px;
}
.card._enterprise .card_detail {
  margin-top: 30px;
}
.card_txt, .card_detail {
  margin-top: 35px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  /* 24.24px */
  text-transform: uppercase;
  color: #545454;
}
._green .card_txt, ._green .card_detail {
  color: #6AEBA1;
}
.card_num {
  margin-top: 30px;
  color: #47BD4D;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 42.42px */
  text-transform: uppercase;
  color: #47BD4D;
}
._green .card_num {
  color: #FFF;
}
._white .card_num::before, ._white .card_num:after {
  color: #545454;
}
.card_num::before {
  margin-right: 13px;
  font-size: 24px;
}
.card_num::after {
  margin-left: 13px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  /* 24.24px */
  text-transform: uppercase;
}

.recently {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 57px;
  padding-left: 76px;
  padding-bottom: 120px;
  background-color: #F1F2F7;
}
.recently_content {
  display: flex;
  max-width: 1440px;
  margin: auto;
}
.recently_left {
  flex: none;
  width: 420px;
}
.recently_left ._enterprise {
  min-height: 256px;
}
.recently_right {
  position: relative;
  width: 100%;
  margin-left: 51px;
}
.recently_right .card._case {
  margin-top: 43px;
  margin-left: 0;
}
.recently_right .card._fending {
  margin-top: 43px;
  margin-left: 50px;
}
.recently_right::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 110px;
  background-color: #9BDA67;
  transform: translateX(100%);
}
.recently_right .card._fending {
  width: 435px;
}
.recently_title {
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 110px;
  padding-left: 84px;
  border-radius: 50px 0px 0px 0px;
  background-color: #9BDA67;
  color: #545454;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 32.32px */
  text-transform: uppercase;
}

.most {
  padding-top: 120px;
  padding-bottom: 220px;
}
.most_group {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.most_item {
  overflow: hidden;
  position: relative;
  flex: none;
  width: 264px;
  height: 199px;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 15px 30px 40px 0px rgba(28, 71, 47, 0.15);
}
.most_item + .most_item {
  margin-left: 18px;
}
.most_item:nth-child(3) {
  background-color: #9BDA67;
}
.most_item:nth-child(3):after,
.most_item:nth-child(3) .most_item_num {
  color: #FFF;
}
.most_item:nth-child(2), .most_item:nth-child(4) {
  transform: translateY(50px);
}
.most_item:nth-child(1), .most_item:nth-child(5) {
  transform: translateY(100px);
}
.most_item:after {
  content: attr(data-num);
  position: absolute;
  left: 166px;
  bottom: -20px;
  font-size: 210px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 212.1px */
  text-transform: uppercase;
  color: #47BD4D;
}
.most_item_title {
  height: 55px;
  color: #545454;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 24.24px */
  text-transform: uppercase;
}
.most_item_num {
  margin-top: 10px;
  color: #47BD4D;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 42.42px */
  text-transform: uppercase;
}
.most_item_num::after {
  content: attr(data-txt);
  display: block;
  margin-top: 16px;
  color: #545454;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  /* 24.24px */
  text-transform: uppercase;
}

.circle {
  padding: 120px 0;
  background-color: #F1F2F7;
}
.circle_group {
  display: flex;
  max-width: 1440px;
  margin: 15px auto 0;
}
.circle_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.circle_item::after {
  content: attr(data-txt);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  color: #545454;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 20.2px */
  text-transform: uppercase;
  background-color: #f1f2f7;
  border-radius: 100%;
}

.line {
  padding: 120px 0 70px;
}
.line_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 87px auto 0;
}
.line_item {
  width: 50%;
  margin-bottom: 100px;
}
.line_item_title {
  color: #545454;
  text-align: center;
  font-family: Noto Sans CJK TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  /* 20.2px */
  text-transform: uppercase;
}

.foot {
  min-height: 433px;
  padding: 50px;
  background-color: #285F40;
}
.foot .logo {
  width: 378px;
}
.foot_group {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.foot_group li + li {
  margin-top: 16px;
}
.foot_group a {
  color: #fff;
  text-decoration: none;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .foot_group a:hover {
    text-decoration: underline;
  }
}
.foot_group a:active {
  text-decoration: underline;
}

.result_txt {
  max-width: 800px;
  margin: auto;
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.result_txt span {
  color: #47BD4D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.result_txt span::before,
.result_txt span::after {
  content: "＂";
}
.result_info {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 30px 20px;
}
.result_info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100% - 40px);
  height: 1px;
  margin: auto;
  background-color: #E9E9E9;
}
.result_title {
  width: 100%;
  margin-bottom: 8px;
  color: #545454;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 24.24px */
  text-transform: uppercase;
}
.result_sort {
  display: flex;
  width: 50%;
  max-width: 578px;
  flex-wrap: wrap;
}
.result_sort_group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.result_sort_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 20px);
  max-width: 296px;
  margin-top: 20px;
  padding: 25px 20px;
  border-radius: 20px;
  border: 1px solid #EFEFEF;
  background-color: #FFF;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.11);
}
.result_sort_item:nth-child(even) {
  margin-left: 20px;
}
.result_sort_item .txt {
  max-width: 110px;
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 16.16px */
  text-transform: uppercase;
}
.result_sort_item .num {
  color: #47BD4D;
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 32.32px */
  text-transform: uppercase;
}
.result_circle {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 556px;
}
.result_filter {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1210px;
  margin: auto;
}
.result_sel {
  position: relative;
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  max-width: 390px;
  height: 42px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  background-color: #FFF;
}
.result_sel + .result_sel {
  margin-left: 20px;
}
.result_sel .selTxt {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: none;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  padding-left: 10px;
  line-height: 16px;
}
.result_sel .selTxt span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.result_sel_group {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  display: none;
  width: 100%;
  max-height: 282px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #BCBCBC;
  background-color: #FFF;
}
.result_sel_group::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f1f1f1;
}
.result_sel_group::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 1px #f1f1f1 solid;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.result_sel_group:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}
.result_sel_group::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
.showGroup .result_sel_group {
  display: block;
}
.result_sel_item {
  display: flex;
  justify-content: none;
  align-items: center;
  padding: 5px;
}
.result_sel_item span {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 4px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icon_checkbox_empty.svg");
}
.result_sel_item input:checked + span {
  background-image: url("../images/icon_checkbox.svg");
}
.result_sel_item input {
  display: none;
}
.result_arr {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
}
.result_group {
  width: 100%;
  max-width: 1210px;
  margin: 30px auto 0;
}
.result_item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  background-color: #FFF;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .result_item:hover {
    background-color: #EDEDED;
  }
}
.result_item:active {
  background-color: #EDEDED;
}
.result_item + .result_item {
  margin-top: 12px;
}
.result_item_txt {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.result_item_txt::before {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.result_item_txt.name {
  display: flex;
  width: 100%;
  margin-bottom: 14px;
}
.result_item_txt.name::before {
  white-space: nowrap;
}
.result_item_txt.country {
  width: 270px;
}
.result_item_txt.com {
  width: 330px;
}
.result_item_txt.num {
  width: calc(100% - 270px - 330px);
}
.result_item_txt.date {
  width: 270px;
  margin-top: 14px;
}
.result_item_txt.sort {
  width: calc(100% - 270px);
  margin-top: 14px;
}
.result_page {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1210px;
  margin: 50px auto 0;
  padding-bottom: 120px;
}
.result_page_item {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 6px;
  border: 1px solid transparent;
  background: #fff;
}
.result_page_item + .result_page_item {
  margin-left: 5px;
}
.result_page_item.on {
  border: 1px solid #E1E1E1;
  background: #E1E1E1;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .result_page_item:hover {
    border-color: #E1E1E1;
  }
}
.result_page_item:active {
  border-color: #E1E1E1;
}
.result_page_item.prev::before, .result_page_item.next::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icon_down.svg");
}
.result_page_item.prev::before {
  transform: rotate(90deg);
}
.result_page_item.next::before {
  transform: rotate(-90deg);
}
.result_circleContainer {
  transform: translateX(-18%);
}
.result .result_circleColor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.result .result_circleColor li {
  display: flex;
  justify-content: none;
  align-items: center;
}
.result .result_circleColor li .colorBox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 5px;
}
.result .result_circleColor li .colorTitle {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
}
.result .result_circleColor li + li {
  margin-top: 20px;
}

.highcharts-background,
.highcharts-plot-background,
.highcharts-root {
  background-color: #f1f2f7 !important;
  fill: #f1f2f7 !important;
}

.result .highcharts-background,
.result .highcharts-plot-background,
.result .highcharts-root {
  fill: #fff !important;
}

.highcharts-text-outline {
  stroke: #f1f2f7 !important;
}

.line .highcharts-text-outline {
  stroke: transparent !important;
  display: none !important;
}

.highcharts-title,
.highcharts-subtitle,
.highcharts-credits,
.line .highcharts-legend,
.result .highcharts-label,
.result_circle .highcharts-data-label-connector,
.highcharts-text-outline .point_num {
  display: none !important;
}

.highcharts-label .point_title {
  text-align: center;
  font-family: Noto Sans CJK TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  /* 20.2px */
  text-transform: uppercase;
}

.highcharts-label .point_num {
  text-align: center;
  font-family: Noto Sans CJK TC;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  text-transform: uppercase;
}

.point_box {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f7 !important;
}

.line .highcharts-root,
.line .highcharts-background,
.line .highcharts-plot-background {
  fill: #fff !important;
}

.pupup {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.pupup.on {
  display: flex;
}
.pupup_box {
  width: 100%;
  max-width: 900px;
}
.pupup_head {
  position: relative;
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 50px;
  background-color: #9BDA67;
}
.pupup_head_title {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pupup_body {
  width: 100%;
  max-height: 570px;
  padding: 25px 50px;
  background-color: #fff;
}
.pupup_body._flex {
  display: flex;
  flex-wrap: wrap;
}
.pupup_list {
  display: flex;
  width: 50%;
  margin-bottom: 25px;
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pupup_list::before {
  flex: none;
  content: attr(data-txt);
  display: block;
  width: 120px;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}
.pupup_list:nth-child(even)::before {
  width: 110px;
}
.pupup_list._full {
  width: 100%;
}

.form-multi-select {
  flex: none;
  width: 390px !important;
  height: 42px !important;
}

.form-multi-select + .form-multi-select {
  margin-left: 20px;
}

.form-multi-select.show .form-multi-select-search[size],
.form-multi-select-selection:empty {
  display: none !important;
}

.form-multi-select-selection {
  display: inline-block !important;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line .highcharts-axis-title {
  font-size: 12px;
}

.circle_group .highcharts-container,
.circle_group #circleContainer1,
.circle_group #circleContainer {
  width: 100% !important;
}/*# sourceMappingURL=all.css.map */