.msgr::after {
	content: attr(data-msgr);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #fff;
}

.msgl::before {
	content: attr(data-msgl);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #fff;
}

h2 {
	color: #545454;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 101%;
	/* 32.32px */
	text-transform: uppercase;
}

.icon {
	display: block;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&._fending {
		background-image: url('../images/icon_funding.svg');
	}

	&._case {
		background-image: url('../images/icon_case.svg');
	}

	&._patent {
		background-image: url('../images/icon_patent.svg');
	}

	&._enterprise {
		background-image: url('../images/icon_enterprise.svg');
	}

	&._share {
		background-image: url('../images/icon_share.svg');
	}
}

.icon_btn {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	@extend %hand;
	@extend %transition;

	&._home {
		background-image: url('../images/icon_home_normal.svg');

		@include hoverHandler {
			background-image: url('../images/icon_home_hover.svg');
		}
	}

	&._search {
		background-image: url('../images/icon_search.svg');
	}

	&._close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 12px;
		height: 12px;
		background-image: url('../images/icon_close.svg');
	}
}

.searchBar {
	z-index: 9;
	overflow: hidden;
	position: relative;
	max-width: 800px;
	height: 60px;
	margin: 67px auto 0;
	border-radius: 148px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(28, 68, 46, 0.50);

	.result & {
		margin-top: 0;
		transform: translateY(-50%);
	}

	&.fixed {
		position: fixed;
		top: 10px;
		left: 0;
		right: -136px;
		margin: auto;
		transform: translateY(0%);
	}

	// .searchBar_inp
	&_inp {
		width: 100%;
		height: 100%;
		padding: 0 20px;
		color: #545454;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.icon_btn {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
	}
}

.wrap {
	min-width: 1440px;
	padding-top: 84px;
	// background-color: #F1F2F7;
}

.head {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, space-between, center);
	width: 100%;
	min-width: 1440px;
	height: 84px;
	padding: 0 20px;
	background-color: #285F40;

	a {
		position: relative;
		text-decoration: none !important;
	}

	.logo {
		@include d_f(flex, none, center);

		img {
			width: 300px;
			margin-right: 60px;
		}
	}
	.logo::after{
		position: absolute;
		left: 100%;
		pointer-events: none;
		white-space: nowrap;
	}
	.logo.hide::after {
		display: none;
	}
}

.banner {
	overflow: hidden;
	position: relative;

	.result & {
		height: 108px;
	}

	// .banner_txt
	&_txt {
		position: absolute;
		top: 30px;
		left: 0;
		width: 100%;
		padding: 0 76px;
	}

	h1 {
		// max-width: 700px;
		color: #FFF;
		font-size: 55px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		text-transform: uppercase;
	}

	p {
		margin-top: 16px;
		color: #545454;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		text-transform: uppercase;
	}
}

.ten {
	position: absolute;
	top: 502px; //418+84
	left: 0;
	right: 0;
	@include d_f(flex, center, flex-start);
	width: 100%;
	max-width: 1440px;
	min-width: 1430px;
	height: 521px;
	margin: auto;
	padding: 0 70px;
	// transform: translateY(-82px);

	// .ten_bg
	&_bg {
		width: 100%;
		height: 310px;

		@include mw(XXXL) {
			height: 400px;
		}

		@include mw(XXLL) {
			height: 521px;
		}
	}

	// .ten_left
	&_left {
		@include d_f(flex, flex-end);
		flex-wrap: wrap;
		margin-right: 50px;
	}

	// .ten_right
	&_right {
		max-width: 420px;
	}




	// .ten_title
	&_title {
		position: absolute;
		top: 329px;
		@include d_f(flex, flex-end, center);
		width: 100%;
		height: 110px;
		margin-top: 43px;
		padding-right: 84px;
		border-radius: 0px 0px 50px 0px;
		background: #9BDA67;
		color: #545454;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		text-transform: uppercase;
	}
}

.card {
	display: inline-block;
	width: 100%;
	min-height: 286px;
	padding: 29px;
	border-radius: 20px;
	box-shadow: 15px 44px 50px 0px rgba(28, 71, 47, 0.15);
	background-color: #fff;

	&._green {
		background-color: #018B7E;
	}

	&._case {
		margin-left: 50px;
	}

	&._patent {
		@include d_f(flex);

		.card_group {
			margin-left: 31px;
		}

		min-height: 153px;

		.card_txt {
			margin-top: 0;
		}

		.card_num {
			margin-top: 18px;
		}
	}

	&._fending {
		width: 435px;
	}

	&._case {
		width: 330px;
	}

	&._enterprise {
		@include d_f(flex);
		align-content: flex-start;
		flex-wrap: wrap;
		min-height: 300px;
		margin-top: 30px;

		.card_group {
			margin-left: 31px;
		}

		.card_txt {
			margin-top: 0;
		}

		.card_num {
			margin-top: 18px;
		}

		.card_detail {
			margin-top: 30px;
		}
	}

	// .card_txt
	&_txt,
	&_detail {
		margin-top: 35px;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 101%;
		/* 24.24px */
		text-transform: uppercase;
		color: #545454;

		._green & {
			color: #6AEBA1;
		}
	}

	// .card_num
	&_num {
		// @include d_f(flex,none,center);
		margin-top: 30px;
		color: #47BD4D;
		font-size: 42px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		/* 42.42px */
		text-transform: uppercase;
		color: #47BD4D;

		._green & {
			color: #FFF;
		}

		._white &::before,
		._white &:after {
			color: #545454;
		}

		&::before {
			margin-right: 13px;
			font-size: 24px;
		}

		&::after {
			margin-left: 13px;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 101%;
			/* 24.24px */
			text-transform: uppercase;
		}
	}
}

.recently {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-top: 57px;
	padding-left: 76px;
	padding-bottom: 120px;
	background-color: #F1F2F7;

	// .recently_content
	&_content {
		@include d_f(flex);
		max-width: 1440px;
		margin: auto;
	}

	// .recently_left
	&_left {
		flex: none;
		width: 420px;

		._enterprise {
			min-height: 256px;
		}
	}

	// .recently_right
	&_right {
		position: relative;
		width: 100%;
		margin-left: 51px;

		.card._case {
			margin-top: 43px;
			margin-left: 0;
		}

		.card._fending {
			margin-top: 43px;
			margin-left: 50px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			display: block;
			width: 100%;
			height: 110px;
			background-color: #9BDA67;
			transform: translateX(100%);
		}

		.card._fending {
			width: 435px;
		}
	}

	// .recently_title
	&_title {
		// position: absolute;
		// top: 0;
		// right: 0;
		@include d_f(flex, none, center);
		width: 100%;
		height: 110px;
		padding-left: 84px;
		border-radius: 50px 0px 0px 0px;
		background-color: #9BDA67;
		color: #545454;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		/* 32.32px */
		text-transform: uppercase;
	}
}

.most {
	padding-top: 120px;
	padding-bottom: 220px;

	// .most_group
	&_group {
		@include d_f(flex, center);
		margin-top: 50px;
	}

	// .most_item
	&_item {
		overflow: hidden;
		position: relative;
		flex: none;
		width: 264px;
		height: 199px;
		padding-top: 30px;
		padding-left: 30px;
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 15px 30px 40px 0px rgba(28, 71, 47, 0.15);

		&+& {
			margin-left: 18px;
		}

		&:nth-child(3) {
			background-color: #9BDA67;

			&:after,
			.most_item_num {
				color: #FFF;
			}
		}


		&:nth-child(2),
		&:nth-child(4) {
			transform: translateY(50px);
		}

		&:nth-child(1),
		&:nth-child(5) {
			transform: translateY(100px);
		}

		&:after {
			content: attr(data-num);
			position: absolute;
			left: 166px;
			bottom: -20px;
			font-size: 210px;
			font-style: normal;
			font-weight: 700;
			line-height: 101%;
			/* 212.1px */
			text-transform: uppercase;
			color: #47BD4D;
		}


		// .most_item_title
		&_title {
			height: 55px;
			color: #545454;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 30px;
			/* 24.24px */
			text-transform: uppercase;
		}

		// .most_item_num
		&_num {
			margin-top: 10px;
			color: #47BD4D;
			font-size: 42px;
			font-style: normal;
			font-weight: 700;
			line-height: 101%;
			/* 42.42px */
			text-transform: uppercase;

			&::after {
				content: attr(data-txt);
				display: block;
				margin-top: 16px;
				color: #545454;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 101%;
				/* 24.24px */
				text-transform: uppercase;
			}
		}
	}
}

.circle {
	padding: 120px 0;
	background-color: #F1F2F7;

	// .circle_group
	&_group {
		@include d_f(flex);
		max-width: 1440px;
		margin: 15px auto 0;
	}

	// .circle_item
	&_item {
		position: relative;
		@include d_f(flex, center, center);
		width: 100%;

		&::after {
			content: attr(data-txt);
			position: absolute;
			@include d_f(flex, center, center);
			width: 160px;
			height: 160px;
			color: #545454;
			text-align: center;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 101%;
			/* 20.2px */
			text-transform: uppercase;
			// background-color: #f1f2f7;
			border-radius: 100%;
		}
	}
}

.line {
	padding: 120px 0 70px;

	// .line_group
	&_group {
		@include d_f(flex, center);
		flex-wrap: wrap;
		max-width: 1440px;
		margin: 87px auto 0;
	}

	// .line_item
	&_item {
		width: 50%;
		margin-bottom: 100px;

		// .line_item_title
		&_title {
			color: #545454;
			text-align: center;
			font-family: Noto Sans CJK TC;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 101%;
			/* 20.2px */
			text-transform: uppercase;
		}
	}
}




.foot {
	min-height: 433px;
	padding: 50px;
	background-color: #285F40;

	.logo {
		width: 378px;
	}

	// .foot_group
	&_group {
		@include d_f(flex, space-between);
		margin-top: 50px;
		color: #FFF;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		li+li {
			margin-top: 16px;
		}

		a {
			color: #fff;
			text-decoration: none;

			@include hoverHandler {
				text-decoration: underline;

			}
		}
	}
}

.result {

	// .result_txt
	&_txt {
		max-width: 800px;
		margin: auto;
		color: #545454;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;

		span {
			color: #47BD4D;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
		}

		span::before,
		span::after {
			content: '＂';
		}
	}

	// .result_info
	&_info {
		position: relative;
		@include d_f(flex, center);
		flex-wrap: wrap;
		margin-top: 30px;
		padding: 30px 20px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: calc(100% - 40px);
			height: 1px;
			margin: auto;
			background-color: #E9E9E9;
		}
	}


	// .result_title
	&_title {
		width: 100%;
		margin-bottom: 8px;
		color: #545454;
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 101%;
		/* 24.24px */
		text-transform: uppercase;
	}

	// .result_sort
	&_sort {
		@include d_f(flex);
		width: 50%;
		max-width: 578px;
		flex-wrap: wrap;

		// .result_sort_group
		&_group {
			@include d_f(flex);
			flex-wrap: wrap;
			width: 100%;
		}

		// .result_sort_item
		&_item {
			@include d_f(flex, space-between, center);
			width: calc(50% - 20px);
			max-width: 296px;
			margin-top: 20px;
			padding: 25px 20px;
			border-radius: 20px;
			border: 1px solid #EFEFEF;
			background-color: #FFF;
			box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.11);

			&:nth-child(even) {
				margin-left: 20px;
			}

			.txt {
				max-width: 110px;
				color: #545454;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 22px;
				/* 16.16px */
				text-transform: uppercase;
			}

			.num {
				color: #47BD4D;
				text-align: right;
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: 101%;
				/* 32.32px */
				text-transform: uppercase;
			}
		}
	}

	// .result_circle
	&_circle {
		overflow: hidden;
		position: relative;
		width: 100%;
		max-width: 556px;

	}

	// .result_filter	
	&_filter {
		@include d_f(flex, center);
		width: 100%;
		max-width: 1210px;
		margin: auto;
	}

	// .result_sel
	&_sel {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		max-width: 390px;
		height: 42px;
		padding-left: 10px;
		border-radius: 6px;
		border: 1px solid #D3D3D3;
		background-color: #FFF;

		&+& {
			margin-left: 20px;
		}

		.selTxt {
			position: absolute;
			top: 0;
			left: 0;
			@include d_f(flex, none, center);
			width: calc(100% - 40px);
			height: 100%;
			padding-left: 10px;
			@extend %hand;
			line-height: 16px;

			span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

			}
		}

		// .result_sel_group
		&_group {
			overflow-x: hidden;
			overflow-y: auto;
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
			display: none;
			width: 100%;
			max-height: 282px;
			padding: 5px 10px;
			border-radius: 6px;
			border: 1px solid #BCBCBC;
			background-color: #FFF;

			&::-webkit-scrollbar {
				width: 6px;
				height: 6px;
				background-color: #f1f1f1;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #c1c1c1;
				border: 1px #f1f1f1 solid;
				border-radius: 3px;
				cursor: pointer;
				-webkit-transition: background 0.5s linear;
				transition: background 0.5s linear;
			}

			&:hover::-webkit-scrollbar-thumb {
				background-color: #a9a9a9;
			}

			&::-webkit-scrollbar-corner {
				background-color: #f1f1f1;
			}

			.showGroup & {
				display: block;
			}
		}

		// .result_sel_item
		&_item {
			@include d_f(flex, none, center);
			padding: 5px;
			@extend %hand;



			span {
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				padding: 4px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url('../images/icon_checkbox_empty.svg');
			}

			input:checked+span {
				background-image: url('../images/icon_checkbox.svg');
			}

			input {
				display: none;
			}
		}
	}

	// .result_arr
	&_arr {
		position: absolute;
		right: 6px;
		top: 0;
		bottom: 0;
		display: block;
		width: 24px;
		height: 24px;
		margin: auto;
	}

	// .result_group
	&_group {
		width: 100%;
		max-width: 1210px;
		margin: 30px auto 0;
	}

	// .result_item
	&_item {
		@include d_f(flex);
		flex-wrap: wrap;
		padding: 20px;
		border-radius: 20px;
		border: 1px solid #E1E1E1;
		background-color: #FFF;
		@extend %transition;

		@include hoverHandler {
			background-color: #EDEDED;
		}

		&+& {
			margin-top: 12px;
		}

		// .result_item_txt
		&_txt {
			color: #545454;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			&::before {
				color: #545454;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			&.name {
				@include d_f(flex);
				width: 100%;
				margin-bottom: 14px;

				&::before {
					white-space: nowrap;
				}
			}

			&.country {
				width: 270px;
			}

			&.com {
				width: 330px;
			}

			&.num {
				width: calc(100% - 270px - 330px);
			}

			&.date {
				width: 270px;
				margin-top: 14px;
			}

			&.sort {
				width: calc(100% - 270px);
				margin-top: 14px;
			}

		}
	}

	// .result_page
	&_page {
		@include d_f(flex, center);
		width: 100%;
		max-width: 1210px;
		margin: 50px auto 0;
		padding-bottom: 120px;

		// .result_page_item
		&_item {
			flex: none;
			@include d_f(flex, center, center);
			width: 40px;
			height: 40px;
			color: #000;
			text-align: center;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border-radius: 6px;
			border: 1px solid transparent;
			background: #fff;
			@extend %hand;
			@extend %transition;

			&+& {
				margin-left: 5px;
			}

			&.on {
				border: 1px solid #E1E1E1;
				background: #E1E1E1;

			}

			@include hoverHandler {
				border-color: #E1E1E1;
			}

			&.prev::before,
			&.next::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url('../images/icon_down.svg');
			}

			&.prev::before {
				transform: rotate(90deg);
			}

			&.next::before {
				transform: rotate(-90deg);
			}
		}
	}

	// .result_circleContainer
	&_circleContainer {
		transform: translateX(-18%);
		// pointer-events: none;
	}

	.result_circleColor {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		@include d_f(flex, center, flex-start);
		flex-direction: column;

		li {
			@include d_f(flex, none, center);

			.colorBox {
				width: 20px;
				height: 20px;
				border-radius: 6px;
				// background: #B567DA;
				margin-right: 5px;
			}

			.colorTitle {
				color: #545454;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%;
				/* 16px */
				text-transform: uppercase;
			}

		}

		li+li {
			margin-top: 20px;
		}
	}
}














.highcharts-background,
.highcharts-plot-background,
.highcharts-root {
	background-color: #f1f2f7 !important;
	fill: #f1f2f7 !important;
	// stroke: #f1f2f7 !important;
}

.result .highcharts-background,
.result .highcharts-plot-background,
.result .highcharts-root {
	fill: #fff !important;
}

.highcharts-text-outline {
	stroke: #f1f2f7 !important;
}

.line .highcharts-text-outline {
	stroke: transparent !important;
	display: none !important;
}

.highcharts-title,
.highcharts-subtitle,
.highcharts-credits,
.line .highcharts-legend,
.result .point_num,
.result .point_title,
.result_circle .highcharts-data-label-connector,
.highcharts-text-outline .point_num {
	display: none !important;
}

.highcharts-label .point_title {
	// fill:#545454 !important;
	// color: #545454;
	text-align: center;
	font-family: Noto Sans CJK TC;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 101%;
	/* 20.2px */
	text-transform: uppercase;
}

.highcharts-label .point_num {
	text-align: center;
	font-family: Noto Sans CJK TC;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 101%;
	text-transform: uppercase;
}

.point_box {

	@include d_f(flex);
	flex-direction: column;
	background-color: #f1f2f7 !important;
}

.line .highcharts-root,
.line .highcharts-background,
.line .highcharts-plot-background {
	fill: #fff !important;
}

.pupup {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);


	&.on {
		display: flex;
	}

	// .pupup_box
	&_box {
		width: 100%;
		max-width: 900px;
	}

	// .pupup_head
	&_head {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		height: 64px;
		padding: 0 50px;
		background-color: #9BDA67;

		// .pupup_head_title
		&_title {
			color: #545454;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	// .pupup_body
	&_body {
		width: 100%;
		max-height: 570px;
		padding: 25px 50px;
		background-color: #fff;

		&._flex {
			@include d_f(flex);
			flex-wrap: wrap;
		}
	}

	// .pupup_list
	&_list {
		@include d_f(flex);
		width: 50%;
		margin-bottom: 25px;
		color: #545454;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		&::before {
			flex: none;
			content: attr(data-txt);
			display: block;
			width: 120px;
			color: #545454;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: right;
		}

		&:nth-child(even)::before {
			width: 110px;
		}

		&._full {
			width: 100%;
		}
	}
}

.form-multi-select {
	flex: none;
	width: 390px !important;
	height: 42px !important;
}

.form-multi-select+.form-multi-select {
	margin-left: 20px;

}

.form-multi-select.show .form-multi-select-search[size],
.form-multi-select-selection:empty {
	display: none !important;
}

.form-multi-select-selection {
	display: inline-block !important;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;

}

.line .highcharts-axis-title {
	font-size: 12px;
}

.circle_group .highcharts-container,
.circle_group #circleContainer1,
.circle_group #circleContainer {
	width: 100% !important;
}